### Filtering and Ordering in Pandas

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv(r"/Users/darllabulagner/Desktop/SQL THINGS/CSV FILES/Coffee_Chain_Sales .csv")
df

,Area Code,Cogs,DifferenceBetweenActualandTargetProfit,Date,Inventory Margin,Margin,Market_size,Market,Product_line,Product_type,Product,Profit,Sales,State,Target_cogs,Target_margin,Target_profit,Target_sales,Total_expenses,Type
0,303,51,-35,10/1/12,503,71,Major Market,Central,Leaves,Herbal Tea,Lemon,-5,122,Colorado,30,60,30,90,76,Decaf
1,970,52,-24,10/1/12,405,71,Major Market,Central,Leaves,Herbal Tea,Mint,26,123,Colorado,30,60,50,90,45,Decaf
2,409,43,-22,10/2/12,419,64,Major Market,South,Leaves,Herbal Tea,Lemon,28,107,Texas,30,60,50,90,36,Decaf
3,850,38,-15,10/3/12,871,56,Major Market,East,Leaves,Tea,Darjeeling,35,94,Florida,40,60,50,100,21,Regular
4,562,72,6,10/4/12,650,110,Major Market,West,Leaves,Tea,Green Tea,56,182,California,20,60,50,80,54,Regular
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1057,775,250,133,8/23/15,1820,251,Small Market,West,Leaves,Tea,Earl Grey,233,534,Nevada,180,180,100,360,94,Regular
1058,971,88,48,8/24/15,817,133,Small Market,West,Leaves,Tea,Earl Grey,108,236,Oregon,60,100,60,160,60,Regular
1059,775,294,-285,8/25/15,8252,-294,Small Market,West,Leaves,Tea,Green Tea,-605,33,Nevada,210,-210,-320,0,145,Regular
1060,503,134,80,8/26/15,690,186,Small Market,West,Leaves,Tea,Green Tea,180,341,Oregon,90,140,100,230,65,Regular
1061,435,20,-22,8/27/15,218,25,Small Market,West,Leaves,Tea,Green Tea,-22,48,Utah,10,20,0,30,40,Regular

In [5]:
# This will display all the rows that has Sales greater than 500

df[df['Sales'] > 500 ]

,Area Code,Cogs,DifferenceBetweenActualandTargetProfit,Date,Inventory Margin,Margin,Market_size,Market,Product_line,Product_type,Product,Profit,Sales,State,Target_cogs,Target_margin,Target_profit,Target_sales,Total_expenses,Type
567,936,239,-155,4/20/14,1246,281,Major Market,South,Beans,Coffee,Colombian,185,520,Texas,350,420,340,770,96,Regular
587,972,241,-52,5/10/14,1321,284,Major Market,South,Beans,Coffee,Colombian,188,525,Texas,280,340,240,620,96,Regular
600,432,239,-65,5/23/14,1246,281,Major Market,South,Beans,Coffee,Colombian,275,554,Texas,350,420,340,770,96,Regular
610,432,225,28,6/2/14,1272,265,Major Market,South,Beans,Coffee,Colombian,258,522,Texas,260,320,230,580,91,Regular
620,409,241,39,6/12/14,1321,284,Major Market,South,Beans,Coffee,Colombian,279,559,Texas,280,340,240,620,96,Regular
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1038,949,250,73,8/4/15,1820,251,Major Market,West,Beans,Espresso,Caffe Latte,233,534,California,240,240,160,480,94,Regular
1041,661,241,109,8/7/15,1321,284,Major Market,West,Leaves,Herbal Tea,Lemon,279,559,California,220,260,170,480,96,Decaf
1053,702,224,118,8/19/15,1191,310,Small Market,West,Leaves,Herbal Tea,Lemon,288,569,Nevada,210,280,170,490,116,Decaf
1056,775,247,169,8/22/15,1744,329,Small Market,West,Leaves,Tea,Darjeeling,319,614,Nevada,180,240,150,420,114,Regular
1057,775,250,133,8/23/15,1820,251,Small Market,West,Leaves,Tea,Earl Grey,233,534,Nevada,180,180,100,360,94,Regular

In [6]:
specific_countries = ['Texas', 'Nevada']

df[df['State'].isin(specific_countries)]

,Area Code,Cogs,DifferenceBetweenActualandTargetProfit,Date,Inventory Margin,Margin,Market_size,Market,Product_line,Product_type,Product,Profit,Sales,State,Target_cogs,Target_margin,Target_profit,Target_sales,Total_expenses,Type
2,409,43,-22,10/2/12,419,64,Major Market,South,Leaves,Herbal Tea,Lemon,28,107,Texas,30,60,50,90,36,Decaf
8,775,31,-43,10/8/12,1000,37,Small Market,West,Beans,Coffee,Decaf Irish Cream,7,68,Nevada,30,60,50,90,30,Decaf
14,775,34,-32,10/14/12,240,43,Small Market,West,Beans,Coffee,Colombian,-2,77,Nevada,40,60,30,100,45,Regular
23,915,40,-14,10/23/12,536,52,Major Market,South,Beans,Coffee,Decaf Irish Cream,26,92,Texas,40,60,40,100,26,Decaf
24,210,50,8,10/24/12,589,73,Major Market,South,Beans,Espresso,Decaf Espresso,48,123,Texas,30,60,40,90,25,Decaf
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1053,702,224,118,8/19/15,1191,310,Small Market,West,Leaves,Herbal Tea,Lemon,288,569,Nevada,210,280,170,490,116,Decaf
1055,775,127,61,8/21/15,830,185,Small Market,West,Leaves,Herbal Tea,Mint,181,332,Nevada,120,170,120,290,63,Decaf
1056,775,247,169,8/22/15,1744,329,Small Market,West,Leaves,Tea,Darjeeling,319,614,Nevada,180,240,150,420,114,Regular
1057,775,250,133,8/23/15,1820,251,Small Market,West,Leaves,Tea,Earl Grey,233,534,Nevada,180,180,100,360,94,Regular
1059,775,294,-285,8/25/15,8252,-294,Small Market,West,Leaves,Tea,Green Tea,-605,33,Nevada,210,-210,-320,0,145,Regular

In [7]:
# Let's set the index in State

df2 = df.set_index('State')
df2

,Area Code,Cogs,DifferenceBetweenActualandTargetProfit,Date,Inventory Margin,Margin,Market_size,Market,Product_line,Product_type,Product,Profit,Sales,Target_cogs,Target_margin,Target_profit,Target_sales,Total_expenses,Type
State,,,,,,,,,,,,,,,,,,,
Colorado,303,51,-35,10/1/12,503,71,Major Market,Central,Leaves,Herbal Tea,Lemon,-5,122,30,60,30,90,76,Decaf
Colorado,970,52,-24,10/1/12,405,71,Major Market,Central,Leaves,Herbal Tea,Mint,26,123,30,60,50,90,45,Decaf
Texas,409,43,-22,10/2/12,419,64,Major Market,South,Leaves,Herbal Tea,Lemon,28,107,30,60,50,90,36,Decaf
Florida,850,38,-15,10/3/12,871,56,Major Market,East,Leaves,Tea,Darjeeling,35,94,40,60,50,100,21,Regular
California,562,72,6,10/4/12,650,110,Major Market,West,Leaves,Tea,Green Tea,56,182,20,60,50,80,54,Regular
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Nevada,775,250,133,8/23/15,1820,251,Small Market,West,Leaves,Tea,Earl Grey,233,534,180,180,100,360,94,Regular
Oregon,971,88,48,8/24/15,817,133,Small Market,West,Leaves,Tea,Earl Grey,108,236,60,100,60,160,60,Regular
Nevada,775,294,-285,8/25/15,8252,-294,Small Market,West,Leaves,Tea,Green Tea,-605,33,210,-210,-320,0,145,Regular
Oregon,503,134,80,8/26/15,690,186,Small Market,West,Leaves,Tea,Green Tea,180,341,90,140,100,230,65,Regular
Utah,435,20,-22,8/27/15,218,25,Small Market,West,Leaves,Tea,Green Tea,-22,48,10,20,0,30,40,Regular

In [8]:
df2 = df2.filter(items = ['State','Cogs'], axis = 1)
df2

            Cogs
State
Colorado      51
Colorado      52
Texas         43
Florida       38
California    72
...          ...
Nevada       250
Oregon        88
Nevada       294
Oregon       134
Utah          20

[1062 rows x 1 columns]

In [10]:
df2.loc['Utah']

       Cogs
State
Utah     40
Utah     49
Utah     46
Utah     43
Utah     92
...     ...
Utah    101
Utah     68
Utah     63
Utah     94
Utah     20

[72 rows x 1 columns]

In [18]:
df2.iloc[3]

Cogs    38
Name: Florida, dtype: int64